@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.noise-bg {
  position: relative;
  background: #f9f9f9; /* رنگ پس‌زمینه‌ات */
}

.noise-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/backgrounds/noise.svg");
  opacity: 0.25; 
  pointer-events: none;
}